$padding:0.35em; // only 1 value allowed
$border-radius:0;

$listSize:8;
$linkColor:rgb(229,99,23);
$selectedBackgroundColor:$linkColor;

$menu-item-padding:0.5em;
$message-padding:0.5em;
$caret-color:#666;
$caret-hover-color:#222;
$message-color:#ccc;

.uic-multi-select-dropdown {
    * {
        box-sizing:border-box;
        font-size:1em;
        margin:0;
        padding:0;
    }

    width:100%;
    background-color:#fff;
    border:1px solid #cacaca;
    line-height:1em;
    display:inline-block;
    position:relative;
    text-align:left;
    border-radius:$border-radius;
    transition:border-color 250ms ease-in-out;

    .uic-label {
        width:100%;
        color:#666;
        position:relative;
        line-height:1em;
        padding:2 * $padding $padding;
        cursor:pointer;
        transition:all 150ms ease-in-out;

        &:after {
            content:'';
            cursor:pointer;
            position:absolute;
            top:calc(1em - 5px);
            margin-top:$padding;
            right:0.5em;
            user-select:none;
            width:0;
            height:0;
            border-style:solid;
            border-width:5px 4px 0 4px;
            border-color:$caret-color transparent transparent transparent;
            transition:all 150ms ease-in-out;
        }
    }

    .uic-input-wrap {
        cursor:pointer;
        overflow:hidden;

        input {
            width:100%;
            padding:$padding;
            border:0;
            box-shadow:none;
            margin:0;
            cursor:pointer;

            &::-ms-clear {
                display:none;
            }
        }
    }

    &.uic-expanded {
        border-bottom:0;
        border-color:#8a8a8a;
        border-bottom-left-radius:0;
        border-bottom-right-radius:0;

        .uic-label:after {
            transform:rotate(180deg);
        }
    }

    &.uic-expanded .uic-menu {
        opacity:1;
        border-bottom-left-radius:$border-radius;
        border-bottom-right-radius:$border-radius;
    }

    &.uic-expanded .uic-input-wrap input {
        cursor:text;
    }

    .uic-menu {
        position:absolute;
        z-index:10;
        top:100%;
        left:-1px;
        background-color:#fff;
        border:1px solid #8a8a8a;
        border-top:0;
        width:calc(100% + 2px)!important;
        opacity:0;
        display:none;
        transition:opacity 100ms ease-in-out;

        .uic-select-all,
        .uic-deselect-all,
        .uic-select-all-visible,
        .uic-deselect-all-visible,
        .uic-show-all,
        .uic-show-all-selected {
            display:inline-block;
            float:left;
            margin-right:1em;
            color:$linkColor;
            padding:0.5em $padding;
        }

        .uic-show-all {
            display:none;
        }

        .uic-select-wrap {
            width:100%;
            overflow-x:hidden;
            overflow-y:scroll;
            overflow-scrolling:touch;
            -webkit-overflow-scrolling:touch;
            scroll-behavior:smooth;
            -webkit-scroll-behavior:smooth;
            max-height:(8 * 1em) + (8 * $menu-item-padding * 2) + 0.05em;

            .uic-menu-item {
                padding:$menu-item-padding $padding;
                line-height:1em;
                height:1em + 2 * $menu-item-padding;
                user-select:none;
                transition:background 200ms ease-in-out;

                &:hover {
                    cursor:pointer;
                    background:#f3f3f3;
                }

                &.uic-selected,
                &.uic-preselected {
                    background:$selectedBackgroundColor;
                    color:#fff;
                }
            }
        }
    }

    .uic-message {
        display:none;
        user-select:none;
        padding:0 $padding $padding;
        line-height:1em;
        color:$message-color;
    }
}